@page__background-color: #484848;
@text__color: #fff;
@font-family__base: 'Arial', sans-serif;
@width-content: 1324px;

.header-top{
  background-color: #000;
}

.header-top-content{
  padding: 0px;
  height: 102px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.menu-categories{
  height: 50px;
  display: flex;
  justify-content: start;
}

.dropdown-toggle{
  color: black;
  padding: 12px 16px;
}

.dropdown-toggle:hover{
  text-decoration: none; 
  color: #fe2916;
  cursor: pointer;
}

.header-bot{
  height: 50px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.product-item{
  background: white;
  padding: 34px;
  margin: 4px;
}

.product-item-info{
  background: white;
  color: black;
  height: 522;
  width: 277;
}

.lnt-dropdown-mega-menu{
  background-color: #fff;
  box-shadow: 1px 3px 7px rgba(0,0,0,.2);
  color: black;
  width: 1240px;
  height: 571px;
}

.product-item:hover {
  border: solid 2px red;
}

.page-wrapper{
  background-color: #eaeaea;
}

.logo img{
  height: 60px;
  width: 130px;
  margin-top: 20px;
}

.page-footer{
  background-color: #000;
}

.content{
  padding: 0px;
}

.header.content{
  padding: 0px;
}

.lnt-category{
  width: 255px;
}



.lnt-category li{
  border-top: 1px solid #e5e5e5;
  padding: 9px 20px;
  list-style-type: none;
}

.lnt-category li:hover{
  cursor: pointer;
  background-color: #f2f1f1;
  color: #fe2916;
}


.lnt-category li a{
  color: black;
}

.lnt-category li a:hover{
  text-decoration: none; 
  cursor: pointer;
  background-color: #f2f1f1;
}

.dropdown-toggle-active{
  border-top: 5px solid transparent;
  border-top-color: #e80202;
  background: #fff;
}